.wrapper {
  display: flex;
}
.side-bar {
  width: 300px;
  background-color: skyblue;  height: 100vh;
  border: dotted   8px white; /* 分かりやすくするために */
  border-radius: 30px;
  padding-bottom: 0;
}

.side-bar-header {
  height: 135px;
  width: 93%;
  padding: 0 10px;
  margin-left: 7px;  
  background-color: pink;
  border: dotted   8px skyblue; /* 分かりやすくするために */
  text-align: center;
  border-radius: 30px;
}

.align{
  display: flex;
  justify-content: space-around;
}

.header-name {
margin-top: 5px;
}
.header-name a{
  text-decoration: none;
  font-size:16px;
  font-family: 'Elsie Swash Caps', cursive;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background : rgba(0,0,0,1);
	text-shadow : 
		0 0 0.1em rgba(255,255,255,0.5),
		0.01em 0.02em 0.02em rgba(255,255,255,1);
	-webkit-background-clip : text;

}


/* ul li:nth-child(even){ */



.create-room{
  height: 70px;
  width: 70px;
  text-align: center;
  margin-top: 20px;
  background-color: #7ae1f3;
  padding: 8px;
  padding-top:13px;
  text-align: center;
  border-radius: 50%;
  border-bottom: solid 4px #627295;
}
.create-room:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}
.create-room:hover {
  animation: rotate-anime 3s linear infinite;
}
@keyframes rotate-anime {
  0%  {transform: rotate(0);}
  100%  {transform: rotate(360deg);}
}

.create-room:nth-child(1){

  margin-top: 0;
  margin-bottom: 50px;
}
.create-room:nth-child(2){
  width: 60px;
  height: 60px;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 10px;
  background-color: #fd6c6c;
  padding: 4px;
}

.create-room:nth-child(2) a{
  font-size: 15px;
  margin: 0;
}

.create-room:nth-child(3){
  font-size: 5px;
  background-color: #d3ffa8;
  margin-top: 20px;
  width: 65px;
  height: 65px;
  padding: 10px;
  padding-top: 15px;

}
.create-room:nth-child(3) a{
  font-size: 24px;
  margin: 0;
}



.create-room a {
  margin-left: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  font-family: 'Elsie Swash Caps', cursive;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background : rgba(0,0,0,1);
	text-shadow : 
		0 0 0.1em rgba(255,255,255,0.5),
		0.01em 0.02em 0.02em rgba(255,255,255,1);
    -webkit-background-clip : text;
  }
  .create-room a:hover{
    text-shadow : 
		0 0 0.1em rgba(255,255,255,0.5),
    0.01em 0.02em 0.02em rgb(220, 68, 182); 
}
.create-room:nth-child(2) a:hover{
    text-shadow : 
		0 0 0.1em rgba(255,255,255,0.5),
    0.01em 0.02em 0.02em rgb(202, 237, 114); 
}

.rooms {
  background-color: skyblue;
  height: 600px;
  padding: 0 20px;
  font-size: 20px;
  /* font-family: "M PLUS Rounded 1c"; */
  font-family: 'Elsie Swash Caps', cursive;
  overflow: scroll;
  margin-bottom: 0;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}
.room-name a:hover {
  color: rgb(220, 68, 182);
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;}

.room-name {
  transition: all .2s ease 0s;
}
.room-name:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.typing {
  background-color: #FFFFFF;
  width: calc(100vw - 100px);
  height: 100vh;

}

.chat-header {
  height: 140px;
  padding: 0 40px 0 10px;
  display: flex;
  justify-content: space-between;
  background-color: pink;
  border-right: dotted 8px white; /* 分かりやすくするために */
  border-bottom: dotted 8px white; /* 分かりやすくするために */
  border-top: dotted 8px white; /* 分かりやすくするために */
  border-radius: 30px;

}

.left-header{
  padding: 0;
}

.header-title {
  margin-top: 10px;
  margin-left: 50px;
  padding: 10px;
  
}

.title-top {
  font-size:70px;
  font-family: 'Elsie Swash Caps', cursive;
	text-align:center;
  text-decoration:underline;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background : rgba(0,0,0,1);
	text-shadow : 
		0 0 0.2em rgba(255,255,255,0.5),
		0.03em 0.03em 0.03em rgba(255,255,255,1);
	-webkit-background-clip : text;
}

.title-top:hover{
  text-shadow : 
  0 0 0.1em rgba(255,255,255,0.5),
  0.01em 0.02em 0.02em rgb(220, 68, 182); 
  
}


.title-bottom{
  font-size:25px;
  font-family: "M PLUS Rounded 1c";
  text-align:center;
  line-height:30px;
  color: transparent;
  background : rgba(0,0,0,1);
  text-shadow : 
  0 0 0.2em rgba(255,255,255,0.5),
  0.03em 0.03em 0.03em rgba(255,255,255,1);
  -webkit-background-clip : text;
}
.title-bottom:hover{
  text-shadow : 
  0 0 0.1em rgba(255,255,255,0.5),
  0.01em 0.02em 0.02em rgb(220, 248, 79); 
}


.right-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button {
  background-color: #7ae1f3;
  padding: 14px;
  text-align: center;  
  border-radius: 30px;
  border-bottom: solid 4px darkslategrey;
}
.header-button:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;}



.header-button a {
  font-size: 20px;
  
  text-decoration: none;
  
  font-family: 'Elsie Swash Caps', cursive;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background : rgba(0,0,0,1);
	text-shadow : 
  0 0 0.2em rgba(255,255,255,0.5),
  0.03em 0.03em 0.03em rgba(255,255,255,1);
	-webkit-background-clip : text;
  
}

.main-center{
  border-right: dotted 15px #d3ffa8; 
}

.phrase-box {
  /* background-color: #FAFAFA; */
  background: linear-gradient(270deg,white, #d3ffa8,white,white, pink,white  );
  border-radius: 40px;
  text-align: center;
  height: calc(100vh - 100px - 170px);
  padding: 46px 40px 0;
  width: 100%;
  min-width: 650px;
  max-width: 1200px;
  margin: 20px auto;
  position: relative;
  border-top: dotted 8px  black; 
  border-bottom: dotted 8px  black; 

}

.message-image{
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 800px;
  border-radius: 40px;
    object-fit: contain; /* 🖐 */
    position:absolute; top:0px; left:200px;
}

.phrase{
  background-color:rgba(255, 255, 255, 0.8);
  text-align: center;
  justify-content: center;
  height: 70px;
  width: calc(100% - 60px);
  display: flex;
  align-items: flex-end;
  border-radius: 40px;
  position: absolute;
  top: calc(100% / 1.25);
  left: 30px;
  font-size: 20px;
  font-weight: 200;
  padding-top: 0px;;
  margin:0;
}

.type-word{
  font-size:45px;
  font-family: 'Elsie Swash Caps', cursive;
  text-align:center;
  line-height:60px;
  color: transparent;
  background : rgba(0,0,0,1);
  /* background : rgb(134, 5, 5); */
/* 正解のキーを押せたら上の色に変える */
  text-shadow : 
    0 0 0.1em rgba(255,255,255,0.3),
    0.01em 0.02em 0.02em rgba(255,255,255,0);
  -webkit-background-clip : text;
}

.meaning{
  font-size:25px;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c";
  color: black;
  position: bottom;
}

.form {
  background-color: #d3ffa8;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  border-top: dotted 8px  white; 
  border-right: dotted 8px  white; 
  border-bottom: dotted 8px white; /* 分かりやすくするために */
  font-family: "M PLUS Rounded 1c";
  border-radius: 30px;

}
.form-input {
  background-color: white;
  width: 100%;
  border-radius: 40px;
}
.form-meaning {
  background-color: white;
  height: 50px;
  width: 100%;
  margin-left: 15px;
  border-radius: 40px;

}

.form-image {
  background-color: white;
  margin-left: 15px;
  padding: 0 ;
  height: 50px;
  width: 400px;
  margin: 0 0 0 15px;
  border-radius: 40px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-default {
  display: none;
}
.boxFileSelect {
  height: 50px;
  width: 40px;
  line-height: 1.5;
  cursor: pointer;
  outline-width: 2px;
  text-align: center;
  padding: 0;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.boxFileSelect img{
  margin: 0;
}

.form-tag {
  background-color: white;
  width: 700px;
  margin-left: 15px;
  border-radius: 40px;

}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border-radius: 40px;
}
.form-button{
  height: 50px;
  margin-left: 15px;
  border-radius: 40px;
  background-color: #6be0f4;
  border-bottom: solid 4px darkslategrey;
}
.form-button:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;}

.form-submit {
  border: none;
  font-size: 17px;
  font-weight: bold;
  height: 50px;
  padding: 0 20px;
  border-radius: 40px;
  
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background : rgba(0,0,0,1);
	text-shadow : 
		0 0 0.1em rgba(255,255,255,0.5),
		0.01em 0.02em 0.02em rgba(255,255,255,1);
	-webkit-background-clip : text;

}

.side-bottom{
  display: flex;
}
.logo{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
.logo:hover {
  animation: rotate-anime 3s linear infinite;
}
@keyframes rotate-anime {
  0%  {transform: rotate(0);}
  100%  {transform: rotate(360deg);}
}
.logo:nth-child(1){
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
.logo:nth-child(2){
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
  margin-left: 10px;
}
.logo:nth-child(3){
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-top: 0px;
}
.logo:nth-child(4){
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

.logo img{
  transition: all .2s ease 0s;
  border-radius: 20px;
}
.logo:nth-child(4) img{
  transition: all .2s ease 0s;
  border-radius: 50%;
}

.logo img:hover {
	cursor: pointer;
	transform: scale(1.3);
}
#image{
display: none;
}
#image1{
display: block;
}

/* #image:nth-child(2){
display: none;
} */
/* #image:nth-child(3){
display: none;
} */
/* #image:nth-child(4){
display: none;
} */