.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 200px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;  
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room a {
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.typing {
  background-color: #FFFFFF;
  width: calc(100vw - 100px);
}

.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.header-title {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}
.phrase-box {
  /* background-color: #FAFAFA; */
  background: linear-gradient(70deg,white, #d3ffa8,white,white, pink,white  );
  border-radius: 40px;
  text-align: center;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  width: 100%;
  max-width: 950px;
  min-width: 650px;
  margin: 0 auto;
  position: relative;
}

.message-image{
  width:100%;
  max-width: 900px;
  min-width: 600px;
  border-radius: 40px;
}

.phrase{
  background-color: rgba(246, 251, 250, 0.7);
  text-align: center;
  justify-content: center;
  height: 130px;
  width: calc(100% - 60px);
  display: flex;
  align-items: flex-end;
  border-radius: 40px;
  position: absolute;
  top: calc((100% - 100px) / 1.22);
  left: 30px;
  font-size: 20px;
  font-weight: 200;
  padding-top: 0px;;
  margin:0;
}

.type-word{
  font-size:50px;
  font-family: 'Elsie Swash Caps', cursive;
  text-align:center;
  line-height:60px;
  color: transparent;
  background : rgba(0,0,0,1);
  /* background : rgb(134, 5, 5); */
/* 正解のキーを押せたら上の色に変える */
  text-shadow : 
      0 0 0.1em rgba(255,255,255,0.05),
      0.01em 0.04em 0.03em rgba(255,255,255,0.4);
  -webkit-background-clip : text;
}

.meaning{
  font-size:20px;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c";
  color: rgb(232, 154, 210);
  text-shadow: 1px 2px 2px #ffffff,
               -1px -1px 2px #306fec;
  position: bottom;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}
.form-input {
  background-color: white;
  width: 100%;
}
.form-meaning {
  background-color: white;
  width: 100%;
  margin-left: 15px;
  padding: 0 20px;

}

.form-image {
  background-color: white;
  margin-left: 15px;
  padding: 0 20px;
  width: 90%;
  margin: 0 auto;
  
}
.form-tag {
  background-color: white;
  width: 140px;
  margin-left: 15px;
  padding: 0 20px;

}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}